<h1>About</h1>
<p>
<%= link_to "Toowan's Secret Project", '#' %>
is a project to teach Toowan
<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
in one month.  This is the sample application. 
</p>

