<div class="hero-unit">
	<h1>Welcome to Toowan Learning Rails!</h1>
	<p>
		You've found the home page for the
		<%= link_to "Toowan's Secret Project", '#' %>
		website.
	</p>
	<p>
		<%= link_to "Enter!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>