<div class="hero-unit">
	<h1>Welcome to Toowan's Secret Project.</h1>
	<p>
		You've stumbled upon the home page to the
		<%= link_to "Toowan Learning Rails", "http://onemonthrails.com" %>
		quest.  This is top-secret classified stuff, so Shh!
		
	</p>
	<p>
		<%= link_to "Enter!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>